.landing-page-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    position: relative;
    margin-top: 10%;
}

.landing-page-container {
    height: 100%;
}

.landing-page-title {
    font-size: 11vh;
    line-height: 1.1;
    color: white;
    font-weight: bold;
    font-family: 'Venite Adoremus';
    align-self: center;
}

.authForm {
    height: 100%;
    width: 30%;
    align-self: center;
    display: flex;
    align-items: center;
}

.landing-page-logo {
    margin-left: 10%;
}

.bg-card {
    margin-left: 5vw;
}

.landing-page-subtitle {
    font-size: 2.5vh;
    line-height: 1.1;
    color: white;
    font-weight: bold;
    font-family: 'Venite Adoremus';
    margin-top: 1vh;
}

button:not(:disabled),
[role="button"]:not([aria-disabled="true"]) {
    cursor: pointer;
}