.Perfil-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin: 1vh 20vh;
}

.Perfil-page-header-left {
    width: 100%;
    height: 20vh;
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: stretch;
}

.Perfil-page-user-name {
    font-size: 2.5vh;
    line-height: 1.1;
    color: white;
    font-weight: bold;
    margin-left: 2vh;
    align-self: center;
}

.Perfil-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Perfil-page-avatar {
    width: 150px;
    height: 150px;
    margin-top: 2vh;
    border-radius: 20%;
    margin-bottom: 1vh;
    margin-left: 2vh;
}
.Perfil-page-tabs {
    width: 100%;
    display: flex;
    justify-content: center;
}
.Perfil-edit-button  {
    padding: 0.5vh 1.5vh;
    background-color: #083b93;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5vh;
    align-self: center;
    margin-left: auto;
    margin-right: 2vh;
}